
/*
Colores:
verde: #B3CF52
gris: #545454
rojo: #D42D3F
gris bajito: #E4E4E4
*/
body{
    border: 1px solid red;
    font-size: 16px;
    margin: 0px auto;

}
header nav ul li{
    
    display: inline-block;
    padding: 8px 14px;
    text-align: center;
    width: 17.0%;
}
header ul{
    margin-left: -70px;
}
header nav ul li:nth-child(2){
    background-color: #B3CF52;
}
header nav ul li:nth-child(3){
    background-color: #545454;
}
header nav ul li:nth-child(4){
    background-color: #D42D3F;
}
header nav ul li:nth-child(5){
    background-color: #E4E4E4;
    color: #545454;
}

header nav{
    background-color: #F0F0F0;
}
header nav li{
    
    margin-left:10px;
}
.letra-blanca{
    color: white;
}
.letra-gris{
    color:#949494;
}
.letra-azul{
    color: lightblue;
}
section,footer{
    background: #2B2B2B;
}
section article{
    border: 1px solid #D42D3F;
    display: inline-block;
    vertical-align: top;
    height: 280px;
    width: 17.9%;
    padding: 18px 8px;
}
section article:nth-child(2){
    background: #B3CF52;
}
section article:nth-child(3){
    background: #353535;
}
section article:nth-child(4){
    background: #D42D3F;
}
section article:nth-child(5){
    background: #E4E4E4;
}
section article img{
    width: 150px;
    display: inline-block;
    margin-top:20px;
    padding:10px;
    vertical-align: top;
}
section article ul{
    list-style: none;
}
section article ul li{
    margin-bottom: 10px;
}
hr{
    color: #949494;
    border-style: dashed;
}
.tam-menu{
    font-size:1.1em;
}
.tam-tarjetas{
    font-size: 1.7em;
}
footer article{
    width: 31.1%;
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
    padding: 10px;
}
footer img{
    width: 300px;
}
.read-more{
    margin-left: 220px;
}
