body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0px auto;
    max-width: 1078px;
    min-width: 1078px;
}
header input{
    float: right;
    margin-right: -250px;
    margin-top: 15px;
}

#bgoffer{
    position: relative;
    top: -410px;
    left: -35px;
    
}
header nav{
    margin-left:220px;
}
header nav ul li{
    border-bottom: 1px solid lightgray;
    /*border: 1px solid red;*/
    color:lightgray;
    display: inline-block;
    font-size: 1.8em;
    margin-right: 15px;
    padding-bottom: 2px;
}

#granthams{
    margin-left: 25px;
    margin-top: 25px;
}
#paint{
    float: right;
}
#primeraSeccion{
    height: 318px;
    margin-top: 60px;
}
#primeraSeccion article{
    display: inline-block;
    vertical-align: top;
}
#secc01art01{
    margin-left: 30px;
    width: 60%;
}
#secc01art02{
    margin-left: 50px;
    width: 30%;
}
#secc03art04{
    padding-left: 25px;
    padding-top: 40px;
}

/**/
#secc01art02 ul{
    list-style: none;
}
/*El before agrega el elemento content antes de las palabras*/
#secc01art02 ul li:before{
    color: #FF0099;
    content: "• ";
}
/**/

#segundaSeccion article{
    padding-right:122px;
    text-align: right;
}
#terceraSeccion article{
    display: inline-block;
    vertical-align: top;
    width: 23%;
}
#terceraSeccion article img{
    vertical-align: middle;
}
#terceraSeccion article input{
    border-radius: 5px;
}
#terceraSeccion article input[type="button"]{
    background-color: #8BC500;
    color:white;
}
.colorazul{
    color: #4267b3;
}
.colorrosa{
    color: #FF0099;
}
.colorverde{
    color:#8BC500 
}
.letragrande{
    font-size: 3.5em;
}
.letramediana{
    font-size: 2em;
}
.nito{
    font-weight: bold;
}

footer{
    display: flex;
    flex-direction: row;

    min-height: 150px;
    background: #4565B1;
    color:white;
    position: relative;

    font-size: small;}

footer > * {
    width: 1/3;
    padding: 40px;
}

#cuartaSeccion {    
    position: absolute;
    top: -50px;
    right: 0px;
    padding:0px;
}

#validHTML5 {
    background-color:#4565B1 ;
    border: white 1px solid;
    color:white;
    border-radius: 5px;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 32px;
}